@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html,body {
    width: 100vw;
    min-height: 100vh;

    font-family: "Pretendard", sans-serif;
    font-size: 10px;
}

nav {
    width: 100%;
    height: 50px;
    
    background-color: rgb(70, 70, 255);

    position: -webkit-sticky;
    position: sticky;

    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

    height: 70%;

    padding: 0 10px;
}

nav div button {
    border: 1px solid #000;
    border-radius: 5px;

    background-color: #fff;
    
    font-size: 1.5rem;
    font-weight: bold;

    height: 100%;

    padding: 5px 8px;
}

nav div input {
    padding: 10px;

    border: 1px solid #000;
    border-radius: 5px;

    height: 100%;
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-right: 1px solid #fff;

    padding: 0 10px;

    height: 100%;

    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    width: 80%;

    margin: 30px auto;

    height: fit-content;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

main section {
    width: 100%;
    height: fit-content;

    padding: 15px 0;
}

section.header {
    font-size: 20px;
}

section.header h1 {
    font-size: 1.5em;
}

section.header p {
    font-size: 0.7em;
}

section.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #aaa;
    border: 0;
    border-radius: 10px;

    width: 100%;
    min-height: 100%;

    padding: 25px;
}

section.content div.scores {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

section.content div.scores div.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 3px 5px;
}

div.score div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.score div span {
    font-weight: bold;
}

section.content p.loading {
    animation-delay: 0.2s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(.4, .2, .6, .8);
}

section.content p.no-data {
    color: rgb(10, 10, 10);
}



@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}
