<!DOCTYPE html>
<html>
  <head>
    <title>2022 부덕제 게임 랭킹</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <nav>
      <a><- 뒤로 가기</a>
      <div>
        <input type="number" placeholder="회차로 검색">
        <button>검색</button>
      </div>
    </nav>
    <main>
      <section class="header">
        <h1>부평고 2022 부덕제 게임 랭킹</h1>
        <p>부평고의 2022년도 부덕제 행사에서 코딩 동아리가 운영하는 게임의 랭킹입니다.</p>
      </section>
      <section class="content">
        <p class="loading">로딩중입니다...</p>
      </section>
    </main>
    <script src="static/js/index.js"></script>
    <script>
      var pg = new Page();
      pg.initPage();
    </script>
  </body>
</html>
